<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="@routes.HomeController.index()">Cool IT Jobs</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="@routes.HomeController.index()">Dashboard</a>
            </li>
            <li>
                <a href="@controllers.employer.routes.JobController.create">Encode New Job</a>
            </li>
            <li>
                <a href="encodecompany.php">Encode Your Company Data</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>a user</a></li>
            <li><a href="logout.php?logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
        </ul>
    </div>
</nav>